@media all and (max-width: 1919px) {
	.login-box {
		right: 0;
	}
}
@media all and (max-width: 1200px) {
	.cab-select {
		background: rgba(0, 0, 0, 0) url("../img/prof.png") no-repeat scroll 50px 5px;
		margin-bottom: 10px;
	}	
	.cab-aside {
		width: 18%;
	}
	.cab-no-select {
		background: rgba(0, 0, 0, 0) url("../img/prof.png") no-repeat scroll 110px -30px;
		margin-bottom: 10px;
	}
	.cab-aside a {
		font-size: 12px;
	}
	.container {
		width: 90% !important;
	}
	#home-sec-1 .video, .boutique-sec-1 {
		width: 100%;
		height: 400px;
		float: left;
	}
	.forma  {
		width: 500px;
	}
	.apparel {
		margin-top:50px;
	}
	.main-menu > ul > li {
		float: left;
		margin-right: 25px;
	}	
	.product {
		top: 20px !important;
	}
	.cab, #signup, #login {
		font-size: 14px;
	}
}
@media all and (max-width: 1024px) {
	.complited {
		position: relative;
		right: 0;
		top: 20px;
	}
	.boutique-cab h1 {
		font-size: 18px;
	}
	.cabinput {
		padding: 12px 0;
		text-indent: 20px;
		width: 100%;
	}
	.cabtext {
		width: 100%;
	}
	.cab3-sec-1 h3 {
		color: #676666;
		font-size: 11px;
		margin: 30px 0 10px;
	}
	.cab-aside {
		width: 160px;
	}
	.cab-sec-1 select {
		background: rgba(0, 0, 0, 0) url("../img/place.png") no-repeat scroll 19px 6px;
		margin: -20px 0 40px;
		text-indent: 21px;
		width: 300px;
	}
	.cab-sec-1 a, .cab-sec-1 select {
		font-size: 12px;
		padding: 10px;
	}
	.container-boutiqe {
		width: 90%;
	}
	#myaccount-menu a {
		padding: 3px 25px;
	}
	.register-box, .login-box {
		left: 50%;
		position: fixed;
		top: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
	}
	.book {
		float: left;
		height: 300px;
		overflow: hidden;
		position: relative;
		width: 100%;
	}	
	.page {
		bottom: 20px !important;
		left: 0;
		margin: 0 auto;
		padding: 0 !important;
		position: absolute !important;
		right: 0;
		top: unset;
		width: 90%;
	}
	.bok {
		width: 100%;
		top: 0;
	}	
	.bok > img {
		height: auto;
		width: 100%;
	}
	.sbooks {
		width: 48%;
		float: left;
		margin: 1%;
	}	
	.s-img {
		height: 300px;
		overflow: hidden;
		width: 100%;
		position: relative;
	}
	.s-img img {
		height: auto !important;
		position: absolute !important;
		top: 0;
		width: 100% !important;
	}
	.menu {
		background: #ffffff none repeat scroll 0 0;
		border-bottom: 1px solid #848484;
		height: 20px;
		padding: 20px 0;
	}
	#mobile-menu-hamb {
		display: block;
	}
	#home-sec-1 .video, .boutique-sec-1 {
		height: 350px;
	}
	#home-sec-1 .forma {
		width: 70%;
	}	
	.main-menu ul {
		display: none;
	}	
	.cab, #signup, #login {
		font-size: 13px;
	}
	.inmail {
		width: 160px;
	}
	.inmail.insub {
		width: 80px;
	}
	.fnav {
		float: left;
		width: 50%;
	}
	.footer h1 {
		font-size: 13px;
		line-height: 17px;
	}
	.footer {
		margin-top: 50px;
		height: auto;
	}
	#home-sec-2 {
		margin-bottom: 0;
	}
	.createyour {
		text-align: center;
	}
	.createyour > a {
		bottom: 10px;
		display: block;
		float: none;
		margin: 0 auto;
		position: relative;
		text-align: center;
		width: 230px;
	}
	.createyour {
		top: 10px;
	}
	#home-sec-1 .forma {
		bottom: 30px;
	}
	.boutiques {
		max-width: 100%;
		width: 100%;
		margin-top: 20px;
	}
	.boutiques img {
		height: auto;
		width: 100%;
	}
	.product {
		margin-bottom: 20px !important;
	}	
	.books {
		height: auto;
		width: 100%;
		margin: 0 0 20px;
	}
	.smore {
		height: 40px;
		line-height: 40px;
		padding: 0;
		width: 100%;
	}	
	h3 {
		font-size: 12px;
	}	
	.select {
		padding: 20px 0;
	}
	.select a {
		font-size: 11px;
		padding: 6px 8px;
	}
	#home-sec-1 .video,  .boutique-sec-1 {
		height: 300px;
	}
	.product {
		margin: 0 1%;
		width: 48%;
	}
	#create-left {
		float: left;
		width: 100%;
	}
	#create-right {
		float: left;
		width: 100%;
	}
	#myaccount-menu > span {
		font-size: 14px !important;
		margin-right: 10px !important;
		position: relative !important;
		top: 2px !important;
	}
	#myaccount-menu a::after {
		left: 2px !important;
		position: absolute !important;
		top: 3px !important;
	}
	#myaccount-menu a {
		font-size: 10px !important;
		padding: 3px 10px;
	}
	#myaccount-menu .arrow-right {
		margin-right: 5px;
	}	
	#myaccount-menu > img {
		margin-right: 5px;
	}
	.cab {
		padding: 8px 10px;
	}
	.cab, #signup, #login {
		font-size: 12px;
	}
	.sign a {
		margin-left: 15px;
	}
	.fnav.fnavb {
		width: 100%;
		margin-top: 20px;
	}	
	#myaccount-menu > span {
		margin-right: 20px;
	}
	#myaccount-menu a {
		font-size: 12px;
		position: relative;
		text-indent: 15px;
	}
	#myaccount-menu li:nth-child(1) a::after, #myaccount-menu li:nth-child(2) a::after, #myaccount-menu li:nth-child(3) a::after, #myaccount-menu li:nth-child(4) a::after {
		top: 5px;
	}
	.mym-cust > span {
		font-size: 12px;
	}
	#myacc-messages-customer, #settings-options {
		width: 30%;
	}
	#myacc-messages-chat, #chat-form, #settings-feed {
		width: 70%;
	}
	#product-container {
		margin-bottom: 0px !important;
	}
}
@media all and (max-width: 640px) {
	.checkout-box {
		width: 95%;
	}
	#cart-lightbox {
		width: 100%;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}
	#single-product-sec-2 {
		margin: 0 !important;
	}
	#single-product-options > div {
		margin-bottom: 10px !important;
	}
	div.store-rating {
		float: left;
		position: relative;
		right: 0;
		width: 100% !important;
	}
	.ritem-img {
		display: none;
	}
	.changed > h2 {
		line-height: 25px;
	}
	#form23-l {
		width: 50%;
	}
	#form23-r {
		width: 50%;
	}
	p#store-name {
		left: 0;
	}
	h1#single-product-name {
		width: 100%;
	}
	#single-product-options > div {
		clear: none;
		float: left;
		margin-bottom: 30px;
		width: 100%;
	}
	#single-product-options {
		float: right;
		padding: 0;
		text-align: center;
		width: 100%;
	}
	.product-gallery-img > img {
		height: auto;
		width: 100%;
	}
	#single-product-img > img {
		height: auto;
		position: relative;
		width: 100%;
	}	
	#single-product-photo-gallery {
		width: 100%;
	}
	#single-product-options {
		float: right;
		width: 100%;
	}
	#single-product-img {
		float: left;
		text-align: center;
		width: 100%;
	}
	.product-gallery-img {
		float: left;
		width: 33.333%;
	}
	#myacc-messages-customer,  #settings-options  {
		left: -100%;
		position: absolute;
	}
	#chat-form #message {
		width: 80%;
	}
	#send-msg {
		width: 20%;
	}
	#myacc-messages-chat, #chat-form, #settings-feed {
		width: 100%;
	}
	#myacc-messages-chat {
		height: 300px;
	}
	.cab-package {
		width: 100%;
		margin: 0px 0px 20px 0px;
	}
	.howmuch {
		width: 100%;
		position: relative;
		margin-bottom: 50px;
		padding: 30px 0;
	}
	.cab-sec-2-2 {
		padding: 2%;
		width: 100%;
	}
	.name, .email {
		font-size: 12px;
		left: 20%;
	}
	.fbtw {
		background-position: center center !important;
		font-size: 0;
		height: 50px;
		padding: 0;
		width: 50px;
	}
	.krug {
		display: none;
	}
	.login-box {
		width: 300px;
	}
	.pass-box {
		width: 90%;
	}
	.prd-image {
		display: none;
	}
	.prd-info span, #my-acc-header span,.macn,  .prd-info-tit, .prd-price > span {
		font-size: 12px !important;
	}	
	.maa > a {
		float: left;
		width: 100%;
	}
}
@media all and (max-width: 480px) {
	#upload-photos {
		font-size: 12px;
		text-align: center;
	}	
	.publish-buttons > a {
		text-align: center;
	}
	.lookb.publish {
		text-align: center;
	}
	.colour-picker {
		margin-bottom: 20px;
	}
	.size {
		border: 1px solid #555555;
		border-radius: 30px;
		float: left;
		font-size: 11px;
		height: 25px;
		line-height: 25px;
		margin-right: 5px;
		text-align: center;
		width: 25px;
	}
	#product-name-input, textarea#product-name-desc-input {
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
		width: 100%;
	}
	#single-product-colour {
		text-align: center;
	}
	#upload-lookbooks-sec-1 p {
		font-size: 14px !important;
	}
	.lookb h1 {
		font-size: 17px;
		line-height: 29px;
	}		
	#upload-lookbooks-sec-1 input[type="text"] {
		margin-bottom: 20px !important;
		padding: 10px 0 !important;
		width: 100% !important;
	}
	#upload-lookbooks-sec-1 textarea {
		padding: 0 !important;
		width: 100% !important;
	}
	.continue {
		padding: 10px 15px !important;
	}
	.cab-no-select {
		background: none;
	}
	.cab-select {
		background: none;
	}
	.lbooks.boutique-cab {
		float: left;
		margin: 10px 0;
		width: 100%;
	}
	.cab-aside {
		margin: 10px 0;
		float: left;
		padding: 0;
		width: 100%;
	}
	.boutique-cab h1 {
			font-size: 14px;
	}
	.cab-sec-1 h3 {
		color: #676666;
		margin: 40px 0 10px;
	}
	.cab-sec-1 a, .cab-sec-1 select {
		font-size: 12px;
		padding: 8px;
	}
	#create-new-blog p {
		font-size: 12px;
	}
	.publish-buttons > a {
		float: left;
		margin-bottom: 20px;
		width: 100% !important;
	}
	.publish-button {
		clear: both;
		float: none;
		margin: 0 !important;
		width: 100% !important;
	}
	div.publish-buttons {
		float: left;
		margin: 0;
		width: 100%;
	}
	img#upload-photos {
		float: none;
		margin-bottom: 50px;
		margin-top: -25px;
	}
	#create-new-blog form {
		text-align: center;
	}
	img#add-apparel-b-profile {
		float: none;
		margin-bottom: 100px;
		margin-top: 35px;
	}
	.bo-select  a {
		font-size: 11px;
		padding: 6px 5px;
	}	
	.bnav li a {
		font-size: 12px;
	}
	.bo-img {
		height: 180px;
	}
	img#add-apparel {
		height: auto;
		width: 100%;
	}
	.add-edit-apparel {
		width: 100%;
	}
	div.publish-add-apparel-btn {
		font-size: 11px;
		width: 100% !important;
	}
	.publish-buttons > a {
		float: left !important;
		margin-bottom: 40px !important;
	}
	.boutique-nav-1 {
		margin-top: 30px;
	}
	.select {
		display: table;
		float: none;
		margin: 0 auto !important;
		padding: 20px 0;
		text-align: center;
	}	
	.bo-boutique-img {
		height: auto;
	}
	.bo-boutique-img img {
		float: left;
	}
	.bo-nesto {
		top: 0;
	}
	.lookb h2 {
		line-height: 23px;
	}
	.boutique-nav-1 .select a {
		float: left;
		font-size: 11px;
		padding: 6px 8px;
	}
	.info-icons img {
		margin-right: 5px;
	}	
	p#info-boutique {
		margin-right: 10px;
	}
	#myaccount-menu li:nth-child(1) a::after, #myaccount-menu li:nth-child(2) a::after {
		left: 5px !important;
		top: 2px !important;
	}
	#myaccount-menu li:nth-child(3) a::after {
		left: 1.5px !important;
		top: 3px !important;
	}
	#myaccount-menu li:nth-child(4) a::after {
		left: -2px !important;
		top: 2px !important;
	}
	#myaccount-menu a {
		font-size: 0 !important;
		height: 20px !important;
		padding: 0 !important;
		width: 25px !important;
	}
	#myaccount-menu > span {
		font-size: 14px;
		position: relative;
		top: 2px;
	}
	#myaccount-menu > img {
		margin-right: 5px;
	}		
	#myaccount-menu .arrow-right {
		margin-right: 5px;
	}
	.b-img img {
		height: auto;
		width: 100%;
	}
	.b-img {
		height: 175px;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	.b-product {
		margin-bottom: 20px;
		padding: 0;
		width: 100%;
	}
	.footer {
		padding: 20px;
	}
	.page {
		width: 100%;
	}
	.sbooks {
		width: 100%;
	}	
	#home-sec-1 .video,  .boutique-sec-1 {
		height: 250px;
	}
	.product {
		margin: 0;
		width: 100%;
	}
	.cab {
		margin-right: 0;
		margin-top: 6px;
		padding: 5px;
	}
	.cab, #signup, #login {
		font-size: 11px;
	}
	.sign a {
		margin-left: 10px;
	}
}
@media all and (max-width: 360px) {	
	#home-sec-1 ::-webkit-input-placeholder {
	  font-size: 0px; 
	}

	#home-sec-1 :-moz-placeholder { /* Firefox 18- */
	   font-size: 0px;  
	}

	#home-sec-1 ::-moz-placeholder {  /* Firefox 19+ */
	  font-size: 0px; 
	}

	#home-sec-1 :-ms-input-placeholder {  
	   font-size: 0px;
	}
	h1 {
		font-size: 22px;
		line-height: 0;
	}
	.lbooks {
		border-left: 0 solid #e0e0e0;
	}
	.lbooks {
		padding: 0px;
	}
	.lookb ul {
		margin: 0 3%;
		width: 27%;
	}
	.lookb a, aside span {
		width: 100%;
	}
	.lookb li:nth-child(2) {
		line-height: 15px;
	}
	.lookb ul {
		margin: 0 5px;
	}	
	.bnav-m a {
		font-size: 10px !important;
	}
	.fnav {
		float: left;
		width: 100%;
	}
	#home-sec-1 .video, .boutique-sec-1 {
		height: 170px;
	}
}